body {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    background-color: #694400; 
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(0deg, #016924, #011407);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo1 {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 120px;
}

section {
    padding: 20px;
    flex: 1;
}

.container {
    width: 100%;
    height: calc(100vh - 120px); 
    margin: 0 auto;
    padding: 20px;
    padding-top: 120px; 
    background-image: url('imagem/WhatsApp Image 2024-11-01 at 11.24.31.jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative;
}
.imagemPaulo {
    width: 150px; /* Largura do contêiner */
    height: 150px; /* Altura do contêiner */
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites */
    border-radius: 8px; /* Adiciona bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
    margin: 20px auto; /* Centraliza horizontalmente dentro do contêiner pai */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemPaulo img {
    width: 100%; /* Faz a imagem preencher a largura */
    height: 100%; /* Faz a imagem preencher a altura */
    object-fit: cover; /* Ajusta a imagem para cobrir completamente o contêiner sem distorcer */
    border-radius: 8px; /* Garante que os cantos da imagem sigam o do contêiner */
}

.history {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 50px;
    border-radius: 20px;
    color: #4e342e;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 10px;
    background: linear-gradient(0deg, #02491a, #409b5c);
    color: white;
    bottom: 0;
    width: 100%;
    position: fixed;
}
